<md-list-item [ngClass]="{'highlight': hero.highlight}">
    <img *ngIf="hero.default" class="cp" md-list-avatar
         src="assets/images/heroes/{{hero.id}}-thumbnail.jpg">
    <img *ngIf="!hero.default" md-list-avatar src="assets/images/heroes/default.png">
    <h3 md-line [ngClass]="{'cp': hero.default}"> {{hero.name}} </h3>
    <p md-line [ngClass]="{'cp': hero.default}">
        <span>{{hero.alterEgo}}</span>
    </p>
    <div class="hero-actions">
        {{hero.likes}}
        <md-icon mdTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                 [mdTooltipPosition]="'above'"
                 class="like-icon" (click)="likeHero(hero)">
            favorite
        </md-icon>
        <md-icon class="remove-icon" *ngIf="!hero.default"
                 (click)="removeHero(hero);">
            delete
        </md-icon>
    </div>
</md-list-item>